$spacing--12: 1.2rem;
$spacing--24: 2.4rem;

.email-password-form {
  &__toolbar {
    background-image: linear-gradient(#fbc02d, #546e7a);
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    color: gray;
    margin: {
      top: $spacing--12;
      bottom: $spacing--24;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
  }
}
