$spacing--12: 1.2rem;
$spacing--24: 2.4rem;

.email-password-form {
  &__or {
    color: red;
  }

  &__divider {
    display: flex;
    justify-content: center;
    color: gray;

    &::before,
    &::after {
      content: "";
      flex: 1 1;
      margin: auto;
      border-bottom: 0.1rem solid gray;
      margin: {
        left: $spacing--12;
        right: $spacing--12;
      }
    }
  }

  &__toolbar {
    background-image: linear-gradient(#fbc02d, #546e7a);
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    color: gray;
    margin: {
      top: $spacing--12;
      bottom: $spacing--24;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
  }
}
