.email-password-form__toolbar{background-image:linear-gradient(#fbc02d, #546e7a)}.email-password-form__subtitle{display:flex;justify-content:center;color:gray;margin-top:1.2rem;margin-bottom:2.4rem}.email-password-form__actions{display:flex;flex-direction:column}

.login{display:flex;justify-content:center;flex-direction:column;width:30rem}

