.ball-number__label{color:white;font-size:3rem;font-weight:700}

.display-card{transition:opacity 0.3s ease-in-out;background-image:linear-gradient(#1a237e, #546e7a)}.display-card__toolbar{background-image:linear-gradient(#fbc02d, #546e7a)}

.home{display:flex;width:100%}.home .col-sm-1.col-6{min-width:6rem}

