.ball-number__label{color:white;font-size:3rem;font-weight:700}

.display-card{transition:opacity .3s ease-in-out;background-image:linear-gradient(#1A237E, #546E7A)}.display-card__toolbar{background-image:linear-gradient(#FBC02D, #546E7A)}



.home{display:flex;width:100%}.home .col-sm-1.col-6{min-width:6rem}

